In [1]:
import pandas as pd

# Read in data

In [2]:
austin_intakes = pd.read_csv('/Users/annarutledge/Documents/general_assembly/project4/datasets/texas_dogs/austin_animal_center_intakes.csv')

In [3]:
austin_intakes.head(2)

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver

In [4]:
austin_outcomes = pd.read_csv('/Users/annarutledge/Documents/general_assembly/project4/datasets/texas_dogs/austin_animal_center_outcomes.csv')

In [5]:
austin_outcomes.head(2)

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,May 2019,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,Jul 2018,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown

In [6]:
austin_outcomes_2 = pd.read_csv('/Users/annarutledge/Documents/general_assembly/project4/datasets/texas_dogs/austin_animal_center_outcomes_2.csv')

In [7]:
austin_outcomes_2.head(2)

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,May 2019,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,Jul 2018,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown

In [8]:
austin_animal_data = pd.read_csv('/Users/annarutledge/Documents/general_assembly/project4/datasets/texas_dogs/austin_animal_data.csv')

In [9]:
austin_animal_data.head(2)

,id,intakedate,intakereason,istransfer,sheltercode,identichipnumber,animalname,breedname,basecolour,speciesname,...,movementdate,movementtype,istrial,returndate,returnedreason,deceaseddate,deceasedreason,diedoffshelter,puttosleep,isdoa
0,15801,11/28/09 0:00,Moving,0,C09115463,0A115D7358,Jadzia,Domestic Short Hair,Tortie,Cat,...,5/13/17 0:00,Adoption,0.0,NaN,Stray,NaN,Died in care,0,0,0
1,15932,12/8/09 0:00,Moving,0,D09125594,0A11675477,Gonzo,German Shepherd Dog/Mix,Tan,Dog,...,4/24/17 0:00,Adoption,0.0,NaN,Stray,NaN,Died in care,0,0,0

In [10]:
dallas_shelter_data = pd.read_csv('/Users/annarutledge/Documents/general_assembly/project4/datasets/texas_dogs/dallas_animal_shelter_data.csv')

In [11]:
dallas_shelter_data.head(2)

,Animal Id,Animal Type,Animal Breed,Kennel Number,Kennel Status,Tag Type,Activity Number,Activity Sequence,Source Id,Census Tract,...,Outcome Time,Receipt Number,Impound Number,Service Request Number,Outcome Condition,Chip Status,Animal Origin,Additional Information,Month,Year
0,A1093136,CAT,DOMESTIC SH,K01,IMPOUNDED,NaN,NaN,1,P0915082,5200,...,14:46:00,NaN,K20-494003,NaN,APP SICK,SCAN NO CHIP,OVER THE COUNTER,NaN,JAN.2020,FY2020
1,A1046046,DOG,PIT BULL,AD 085,UNAVAILABLE,NaN,A19-203263,1,P0740141,12900,...,14:56:00,R19-561166,K19-489088,NaN,APP WNL,SCAN CHIP,FIELD,ADOPTION,NOV.2019,FY2020

# Filter datasets to only include dogs

## austin_intakes

In [12]:
# Animal types other than dogs in austin_intakes

austin_intakes[austin_intakes['Animal Type']!='Dog']['Animal Type'].unique()

array(['Cat', 'Other', 'Bird', 'Livestock'], dtype=object)

In [13]:
austin_intakes[austin_intakes['Animal Type']!='Dog']

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
3,A665644,NaN,10/21/2013 07:59:00 AM,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
7,A844350,*Ella,10/15/2021 11:40:00 AM,October 2021,2112 East William Cannon Drive in Austin (TX),Stray,Normal,Cat,Intact Female,6 months,Domestic Shorthair,Brown Tabby
9,A818975,NaN,06/18/2020 02:53:00 PM,June 2020,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Cream Tabby
10,A774147,NaN,06/11/2018 07:45:00 AM,June 2018,6600 Elm Creek in Austin (TX),Stray,Injured,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Black/White
11,A731435,*Casey,08/08/2016 05:52:00 PM,August 2016,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,5 months,Domestic Shorthair Mix,Cream Tabby
...,...,...,...,...,...,...,...,...,...,...,...,...
136276,A851251,A851251,02/09/2022 09:09:00 AM,February 2022,124 West Anderson Lane in Austin (TX),Stray,Normal,Cat,Intact Female,9 months,Domestic Shorthair,Brown Tabby
136279,A851273,A851273,02/09/2022 12:27:00 PM,February 2022,919 East 32Nd Street in Austin (TX),Stray,Sick,Cat,Spayed Female,10 years,Domestic Medium Hair,Blue
136281,A851268,NaN,02/09/2022 11:21:00 AM,February 2022,600 West 26Th Street in Austin (TX),Stray,Normal,Cat,Intact Male,7 months,Domestic Shorthair,Silver Tabby
136284,A851279,Whiskers,02/09/2022 02:16:00 PM,February 2022,Austin (TX),Owner Surrender,Normal,Cat,Spayed Female,1 year,Domestic Medium Hair,White/Black
136286,A851280,Gemma,02/09/2022 02:16:00 PM,February 2022,Austin (TX),Owner Surrender,Normal,Cat,Spayed Female,1 year,Domestic Medium Hair,White/Black

In [14]:
#Indexes of rows with animal types other than 'Dog' in austin_intakes

austin_intakes[austin_intakes['Animal Type']!='Dog'].index

Int64Index([     3,      7,      9,     10,     11,     15,     16,     17,
                18,     19,
            ...
            136230, 136237, 136261, 136265, 136272, 136276, 136279, 136281,
            136284, 136286],
           dtype='int64', length=59519)

In [15]:
#Drop rows with animal type other than 'Dog' to create new df with dogs only

austin_intakes_dogs = austin_intakes.drop(labels=austin_intakes[austin_intakes['Animal Type']!='Dog'].index)

In [16]:
#check that df only contains dogs

austin_intakes_dogs['Animal Type'].unique()

array(['Dog'], dtype=object)

## austin_outcomes

#### Merge austin_outcomes and austin_outcomes2

In [17]:
austin_outcomes.tail(10)

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
136528,A851114,NaN,02/09/2022 03:32:00 PM,Feb 2022,02/06/2021,Transfer,Partner,Bird,Intact Male,1 year,Chicken,Tricolor/White
136529,A847853,Kitchi,02/09/2022 04:00:00 PM,Feb 2022,12/09/2019,Euthanasia,Aggressive,Dog,Intact Male,2 years,Pit Bull Mix,Black/White
136530,A850992,*Gwen,02/09/2022 03:59:00 PM,Feb 2022,02/03/2014,Transfer,Partner,Dog,Intact Female,8 years,Miniature Poodle Mix,White
136531,A847741,Phantom,02/09/2022 03:08:00 PM,Feb 2022,09/22/2021,Adoption,NaN,Cat,Neutered Male,4 months,Domestic Shorthair Mix,Brown Tabby
136532,A850605,Hank,02/02/2022 03:54:00 PM,Feb 2022,11/27/2021,Adoption,NaN,Dog,Neutered Male,2 months,Great Pyrenees Mix,White/Black
136533,A850751,*Goldenbear,02/09/2022 03:54:00 PM,Feb 2022,01/31/2014,Transfer,Partner,Dog,Intact Male,8 years,German Shepherd Mix,Brown
136534,A850868,*Dora,02/09/2022 03:37:00 PM,Feb 2022,02/01/2020,Adoption,NaN,Cat,Spayed Female,2 years,Domestic Shorthair,Tortie
136535,A850958,Ryuk,02/09/2022 03:58:00 PM,Feb 2022,06/02/2021,Transfer,Partner,Dog,Intact Male,8 months,German Shepherd Mix,Black/Tricolor
136536,A848401,*George,02/09/2022 03:55:00 PM,Feb 2022,06/20/2021,Transfer,Partner,Dog,Neutered Male,7 months,Labrador Retriever Mix,Black
136537,A850956,A850956,02/09/2022 03:41:00 PM,Feb 2022,12/02/2021,Adoption,NaN,Dog,Spayed Female,2 months,Australian Kelpie Mix,Brown Tiger

In [18]:
austin_outcomes_2.tail(40)

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
136530,A847897,Spot,02/09/2022 04:55:00 PM,Feb 2022,01/10/2021,Adoption,NaN,Cat,Spayed Female,1 year,Domestic Medium Hair,White/Black
136531,A850553,*Snow White,02/09/2022 03:30:00 PM,Feb 2022,12/31/2021,Transfer,Partner,Dog,Intact Female,1 month,Pit Bull Mix,Blue/White
136532,A850904,*Rasputin,02/09/2022 04:51:00 PM,Feb 2022,11/02/2021,Adoption,NaN,Cat,Neutered Male,3 months,Domestic Shorthair,Blue
136533,A850548,*Thumbelina,02/09/2022 03:30:00 PM,Feb 2022,01/26/2020,Transfer,Partner,Dog,Intact Female,2 years,Pit Bull Mix,Brown/White
136534,A851218,Suzy,02/09/2022 04:25:00 PM,Feb 2022,02/08/2017,Return to Owner,NaN,Dog,Intact Female,5 years,Rat Terrier Mix,Gray/Black
136535,A850774,Jayco,02/09/2022 04:03:00 PM,Feb 2022,01/31/2019,Transfer,Partner,Dog,Intact Male,3 years,Pit Bull,Blue
136536,A850643,*Estella,02/09/2022 04:45:00 PM,Feb 2022,05/28/2021,Adoption,NaN,Dog,Spayed Female,8 months,Australian Cattle Dog Mix,Red/White
136537,A764603,Luna,02/09/2022 04:01:00 PM,Feb 2022,07/02/2017,Euthanasia,Aggressive,Dog,Spayed Female,4 years,Pit Bull Mix,Blue/White
136538,A850556,*Rapunzel,02/09/2022 03:30:00 PM,Feb 2022,12/31/2021,Transfer,Partner,Dog,Intact Female,1 month,Pit Bull Mix,Brown/White
136539,A850905,*Ivan,02/09/2022 04:58:00 PM,Feb 2022,11/02/2021,Adoption,NaN,Cat,Intact Male,3 months,Domestic Shorthair,Blue
136540,A850555,*Rumplestiltskin,02/09/2022 03:30:00 PM,Feb 2022,12/31/2021,Transfer,Partner,Dog,Intact Male,1 month,Pit Bull Mix,Brown/White
136541,A850554,*Rose Red,02/09/2022 03:30:00 PM,Feb 2022,12/31/2021,Transfer,Partner,Dog,Intact Female,1 month,Pit Bull Mix,Brown/White
136542,A848514,Max,12/27/2021 12:37:00 PM,Dec 2021,02/22/2021,Adoption,NaN,Dog,Neutered Male,10 months,Labrador Retriever/Chinese Sharpei,Tan/White
136543,A811249,Tootie,02/01/2020 07:16:00 PM,Feb 2020,12/02/2019,Adoption,NaN,Dog,Spayed Female,1 month,Pit Bull,Black/White
136544,A851209,A851209,02/09/2022 05:00:00 PM,Feb 2022,12/08/2021,Adoption,NaN,Dog,Spayed Female,2 months,Pit Bull Mix,Brown Brindle/White
136545,A851072,*Mary Ann,02/09/2022 05:24:00 PM,Feb 2022,02/05/2012,Euthanasia,Suffering,Dog,Intact Female,10 years,Rottweiler Mix,Black/Tan
136546,A850957,A850957,02/09/2022 05:47:00 PM,Feb 2022,12/02/2021,Adoption,NaN,Dog,Spayed Female,2 months,Australian Kelpie Mix,Brown Tiger/White
136547,A850959,A850959,02/09/2022 05:38:00 PM,Feb 2022,12/02/2021,Adoption,NaN,Dog,Spayed Female,2 months,Pit Bull Mix,White/Brown Brindle
136548,A850963,*Charlotte De Berry,02/09/2022 05:29:00 PM,Feb 2022,02/02/2021,Adoption,NaN,Cat,Spayed Female,1 year,Domestic Longhair,Blue/White
136549,A850898,*Anastasia,02/09/2022 06:05:00 PM,Feb 2022,11/17/2021,Adoption,NaN,Dog,Spayed Female,2 months,Siberian Husky Mix,Black/White
136550,A851095,NaN,02/10/2022 02:16:00 PM,Feb 2022,08/22/2021,Transfer,Partner,Cat,Intact Male,5 months,Domestic Longhair,Black/White
136551,A850441,*Manny,02/09/2022 03:00:00 PM,Feb 2022,11/09/2021,Transfer,Partner,Dog,Neutered Male,3 months,Manchester Terrier Mix,Black/Tan
136552,A701902,Roscoe,05/09/2015 04:57:00 PM,May 2015,05/12/2013,Return to Owner,NaN,Dog,Neutered Male,1 year,American Bulldog Mix,Brown Brindle/White
136553,A851293,NaN,02/10/2022 10:34:00 AM,Feb 2022,02/09/2020,Euthanasia,Rabies Risk,Other,Unknown,2 years,Bat,Brown
136554,A850865,*Snowman,02/10/2022 10:14:00 AM,Feb 2022,12/01/2021,Adoption,NaN,Dog,Neutered Male,2 months,Great Pyrenees Mix,White
136555,A849247,Dewwy,01/06/2022 05:42:00 PM,Jan 2022,11/04/2021,Adoption,NaN,Dog,Neutered Male,2 months,Labrador Retriever Mix,Black/White
136556,A844669,Starsky,10/23/2021 02:04:00 PM,Oct 2021,07/12/2021,Adoption,NaN,Cat,Intact Female,3 months,Domestic Medium Hair Mix,Calico
136557,A844668,Hutch,10/23/2021 02:04:00 PM,Oct 2021,07/12/2021,Adoption,NaN,Cat,Intact Male,3 months,Domestic Medium Hair Mix,Orange Tabby
136558,A851113,NaN,02/10/2022 08:07:00 AM,Feb 2022,01/06/2022,Transfer,Partner,Bird,Unknown,5 weeks,Chicken,Yellow/White
136559,A846682,Zeus,12/29/2021 03:45:00 PM,Dec 2021,11/19/2019,Adoption,NaN,Dog,Neutered Male,2 years,Bulldog/Boxer,Blue/White
136560,A745494,Stanley,04/19/2017 05:54:00 PM,Apr 2017,09/12/2016,Adoption,NaN,Cat,Neutered Male,7 months,Domestic Shorthair Mix,Blue
136561,A745494,Stanley,03/22/2017 05:04:00 PM,Mar 2017,09/12/2016,Adoption,NaN,Cat,Neutered Male,6 months,Domestic Shorthair Mix,Blue
136562,A850799,*Enola,02/10/2022 12:40:00 PM,Feb 2022,01/31/2020,Adoption,NaN,Dog,Spayed Female,2 years,Australian Kelpie Mix,Black/White
136563,A851204,Tiger,02/10/2022 12:39:00 PM,Feb 2022,09/08/2018,Return to Owner,NaN,Dog,Intact Male,3 years,Dachshund Mix,Brown Brindle/White
136564,A839417,*Fritz,02/10/2022 12:09:00 PM,Feb 2022,07/21/2019,Adoption,NaN,Dog,Neutered Male,2 years,Rottweiler Mix,Black/Brown
136565,A745494,Stanley,11/09/2021 01:44:00 PM,Nov 2021,09/12/2016,Adoption,NaN,Cat,Neutered Male,5 years,Domestic Shorthair Mix,Blue
136566,A851179,Hops,02/10/2022 01:11:00 PM,Feb 2022,02/08/2021,Transfer,Partner,Other,Intact Female,NaN,Rabbit Sh,White
136567,A850112,Eva,02/10/2022 01:22:00 PM,Feb 2022,10/19/2021,Adoption,NaN,Dog,Spayed Female,3 months,Labrador Retriever,Brown/Brown
136568,A701902,Roscoe,02/10/2022 01:17:00 PM,Feb 2022,05/12/2013,Return to Owner,NaN,Dog,Neutered Male,8 years,American Bulldog Mix,Brown Brindle/White
136569,A851181,Mighty,02/10/2022 01:10:00 PM,Feb 2022,02/08/2021,Transfer,Partner,Other,Intact Male,NaN,Rabbit Sh,White/Brown

In [19]:
austin_outcomes.shape

(136538, 12)

In [20]:
austin_outcomes_2.shape

(136570, 12)

In [21]:
# create dataframe to check what rows are present in both austin_outcomes and austin_outcomes_2 and which are unique

comparison_df = austin_outcomes_2.merge(
        austin_outcomes,
        indicator=True,
        how='outer')

#(code borrowed from https://hackersandslackers.com/compare-rows-pandas-dataframes/)

In [22]:
comparison_df.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color,_merge
0,A794011,Chunk,05/08/2019 06:20:00 PM,May 2019,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White,both
1,A776359,Gizmo,07/18/2018 04:02:00 PM,Jul 2018,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown,both
2,A821648,NaN,08/16/2020 11:38:00 AM,Aug 2020,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray,both
3,A720371,Moose,02/13/2016 05:59:00 PM,Feb 2016,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff,both
4,A674754,NaN,03/18/2014 11:47:00 AM,Mar 2014,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby,both

In [23]:
# 54 rows present in only one of the two dataframes

comparison_df[comparison_df['_merge']!='both'].shape

(54, 13)

In [24]:
# merge dataframes

pd.concat([austin_outcomes, austin_outcomes_2]).shape

(273108, 12)

In [25]:
austin_outcomes_merged = pd.concat([austin_outcomes, austin_outcomes_2])

In [26]:
# drop duplicated rows

austin_outcomes_merged.drop_duplicates(keep='first').shape

(136564, 12)

In [27]:
austin_outcomes_merged.drop_duplicates(keep='first', inplace=True)

In [28]:
austin_outcomes_merged.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,May 2019,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,Jul 2018,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,08/16/2020 11:38:00 AM,Aug 2020,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,02/13/2016 05:59:00 PM,Feb 2016,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,NaN,03/18/2014 11:47:00 AM,Mar 2014,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby

#### Filter austin_outcomes_merged to only include dogs

In [29]:
austin_outcomes_merged[austin_outcomes_merged['Animal Type']!='Dog']['Animal Type'].unique()

array(['Cat', 'Other', 'Bird', 'Livestock'], dtype=object)

In [30]:
austin_outcomes_merged[austin_outcomes_merged['Animal Type']!='Dog']

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,May 2019,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
2,A821648,NaN,08/16/2020 11:38:00 AM,Aug 2020,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
4,A674754,NaN,03/18/2014 11:47:00 AM,Mar 2014,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
7,A689724,*Donatello,10/18/2014 06:52:00 PM,Oct 2014,08/01/2014,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black
8,A680969,*Zeus,08/05/2014 04:59:00 PM,Aug 2014,06/03/2014,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,White/Orange Tabby
...,...,...,...,...,...,...,...,...,...,...,...,...
136560,A745494,Stanley,04/19/2017 05:54:00 PM,Apr 2017,09/12/2016,Adoption,NaN,Cat,Neutered Male,7 months,Domestic Shorthair Mix,Blue
136561,A745494,Stanley,03/22/2017 05:04:00 PM,Mar 2017,09/12/2016,Adoption,NaN,Cat,Neutered Male,6 months,Domestic Shorthair Mix,Blue
136565,A745494,Stanley,11/09/2021 01:44:00 PM,Nov 2021,09/12/2016,Adoption,NaN,Cat,Neutered Male,5 years,Domestic Shorthair Mix,Blue
136566,A851179,Hops,02/10/2022 01:11:00 PM,Feb 2022,02/08/2021,Transfer,Partner,Other,Intact Female,NaN,Rabbit Sh,White
136569,A851181,Mighty,02/10/2022 01:10:00 PM,Feb 2022,02/08/2021,Transfer,Partner,Other,Intact Male,NaN,Rabbit Sh,White/Brown

In [31]:
austin_outcomes_merged[austin_outcomes_merged['Animal Type']!='Dog'].index

Int64Index([     0,      2,      4,      7,      8,     10,     11,     14,
                15,     16,
            ...
            136550, 136553, 136556, 136557, 136558, 136560, 136561, 136565,
            136566, 136569],
           dtype='int64', length=59832)

In [32]:
austin_outcomes_dogs = austin_outcomes_merged.drop(labels=austin_outcomes_merged[austin_outcomes_merged['Animal Type']!='Dog'].index)

In [33]:
austin_intakes_dogs['Animal Type'].unique()

array(['Dog'], dtype=object)

## austin_animal_data

In [34]:
#Examine columns in austin_animal_data

austin_animal_data.head(2)

,id,intakedate,intakereason,istransfer,sheltercode,identichipnumber,animalname,breedname,basecolour,speciesname,...,movementdate,movementtype,istrial,returndate,returnedreason,deceaseddate,deceasedreason,diedoffshelter,puttosleep,isdoa
0,15801,11/28/09 0:00,Moving,0,C09115463,0A115D7358,Jadzia,Domestic Short Hair,Tortie,Cat,...,5/13/17 0:00,Adoption,0.0,NaN,Stray,NaN,Died in care,0,0,0
1,15932,12/8/09 0:00,Moving,0,D09125594,0A11675477,Gonzo,German Shepherd Dog/Mix,Tan,Dog,...,4/24/17 0:00,Adoption,0.0,NaN,Stray,NaN,Died in care,0,0,0

In [35]:
# 'speciesname' other than 'Dog' in austin_animal_data

austin_animal_data[austin_animal_data['speciesname']!='Dog']['speciesname'].unique()

array(['Cat', 'House Rabbit', 'Rat', 'Bird', 'Opossum', 'Chicken',
       'Wildlife', 'Ferret', 'Tortoise', 'Pig', 'Hamster', 'Guinea Pig',
       'Gerbil', 'Lizard', 'Hedgehog', 'Chinchilla', 'Goat', 'Snake',
       'Squirrel', 'Sugar Glider', 'Turtle', 'Tarantula', 'Mouse',
       'Raccoon', 'Livestock', 'Fish'], dtype=object)

In [36]:
austin_animal_data[austin_animal_data['speciesname']!='Dog']

,id,intakedate,intakereason,istransfer,sheltercode,identichipnumber,animalname,breedname,basecolour,speciesname,...,movementdate,movementtype,istrial,returndate,returnedreason,deceaseddate,deceasedreason,diedoffshelter,puttosleep,isdoa
0,15801,11/28/09 0:00,Moving,0,C09115463,0A115D7358,Jadzia,Domestic Short Hair,Tortie,Cat,...,5/13/17 0:00,Adoption,0.0,NaN,Stray,NaN,Died in care,0,0,0
3,30812,1/11/13 0:00,Abandoned,0,C1301091,0A13403D4D,Pretty Girl,Domestic Short Hair,Dilute tortoiseshell,Cat,...,4/18/17 0:00,Foster,0.0,5/29/18 0:00,Stray,NaN,Died in care,0,0,0
4,30812,1/11/13 0:00,Abandoned,0,C1301091,0A13403D4D,Pretty Girl,Domestic Short Hair,Dilute tortoiseshell,Cat,...,5/29/18 0:00,Adoption,0.0,NaN,Stray,NaN,Died in care,0,0,0
7,40705,6/19/15 0:00,Abandoned,0,R15061738,NaN,Candy,American Sable/American,Brown,House Rabbit,...,4/12/17 0:00,Transfer,0.0,NaN,Stray,NaN,Died in care,0,0,0
8,40706,6/19/15 0:00,Abandoned,0,R15061739,NaN,Charlotte,American Sable/American,Brown,House Rabbit,...,4/12/17 0:00,Transfer,0.0,NaN,Stray,NaN,Died in care,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10282,64571,8/26/19 16:40,Unable to Afford,0,G19081419,NaN,Jelly,Guinea Pig,Calico,Guinea Pig,...,8/30/19 0:00,Adoption,0.0,NaN,Stray,NaN,Court Order/ Legal,0,0,0
10283,64574,8/26/19 16:48,Litter relinquishment,0,C19081422,9.8102E+14,Maeve,Domestic Short Hair,Tabbico,Cat,...,8/30/19 0:00,Adoption,0.0,NaN,Stray,NaN,Court Order/ Legal,0,0,0
10284,64582,8/27/19 16:12,Allergies,0,C19081427,9.8102E+14,Whiskers,Domestic Short Hair,Grey,Cat,...,8/30/19 0:00,Adoption,0.0,NaN,Stray,NaN,Court Order/ Legal,0,0,0
10285,64584,8/27/19 16:52,Litter relinquishment,0,C19081429,9.8102E+14,Max,Domestic Medium Hair,Orange and White,Cat,...,8/29/19 0:00,Adoption,0.0,NaN,Stray,NaN,Court Order/ Legal,0,0,0
10286,64588,8/27/19 18:14,Stray,0,C19081418,9.8102E+14,Punkin,Domestic Short Hair,Calico,Cat,...,8/28/19 0:00,Foster,0.0,NaN,Stray,NaN,Court Order/ Legal,0,0,0

In [37]:
# indexes with 'speciesname' other than 'Dog' in austin_animal_data

austin_animal_data[austin_animal_data['speciesname']!='Dog'].index

Int64Index([    0,     3,     4,     7,     8,    12,    13,    15,    16,
               19,
            ...
            10276, 10277, 10278, 10280, 10281, 10282, 10283, 10284, 10285,
            10286],
           dtype='int64', length=6390)

In [38]:
# drop rows with 'speciesname' other than 'Dog' from austin_animal_data

austin_animal_data_dogs = austin_animal_data.drop(labels=austin_animal_data[austin_animal_data['speciesname']!='Dog'].index)

In [39]:
# check that dataframe only contains dogs

austin_animal_data_dogs['speciesname'].unique()

array(['Dog'], dtype=object)

## dallas_shelter_data

In [40]:
# Examine columns of dallas_shelter_data

dallas_shelter_data.head(2)

,Animal Id,Animal Type,Animal Breed,Kennel Number,Kennel Status,Tag Type,Activity Number,Activity Sequence,Source Id,Census Tract,...,Outcome Time,Receipt Number,Impound Number,Service Request Number,Outcome Condition,Chip Status,Animal Origin,Additional Information,Month,Year
0,A1093136,CAT,DOMESTIC SH,K01,IMPOUNDED,NaN,NaN,1,P0915082,5200,...,14:46:00,NaN,K20-494003,NaN,APP SICK,SCAN NO CHIP,OVER THE COUNTER,NaN,JAN.2020,FY2020
1,A1046046,DOG,PIT BULL,AD 085,UNAVAILABLE,NaN,A19-203263,1,P0740141,12900,...,14:56:00,R19-561166,K19-489088,NaN,APP WNL,SCAN CHIP,FIELD,ADOPTION,NOV.2019,FY2020

In [41]:
# Rows with 'Animal Type' other than 'DOG'

dallas_shelter_data[dallas_shelter_data['Animal Type']!='DOG']['Animal Type'].unique()

array(['CAT', 'BIRD', 'WILDLIFE', 'LIVESTOCK'], dtype=object)

In [42]:
dallas_shelter_data[dallas_shelter_data['Animal Type']!='DOG']

,Animal Id,Animal Type,Animal Breed,Kennel Number,Kennel Status,Tag Type,Activity Number,Activity Sequence,Source Id,Census Tract,...,Outcome Time,Receipt Number,Impound Number,Service Request Number,Outcome Condition,Chip Status,Animal Origin,Additional Information,Month,Year
0,A1093136,CAT,DOMESTIC SH,K01,IMPOUNDED,NaN,NaN,1,P0915082,5200,...,14:46:00,NaN,K20-494003,NaN,APP SICK,SCAN NO CHIP,OVER THE COUNTER,NaN,JAN.2020,FY2020
2,A1098758,BIRD,HAWK,RECEIVING,UNAVAILABLE,NaN,A20-217177,1,P0922414,100,...,15:18:00,NaN,K20-501362,NaN,APP INJ,WILDLIFE - UNABLE TO SCAN,FIELD,NaN,MAR.2020,FY2020
4,A1091970,CAT,DOMESTIC SH,CC 25,UNAVAILABLE,NaN,NaN,1,P0913319,16701,...,15:47:00,R19-561806,K19-492312,NaN,APP WNL,SCAN NO CHIP,OVER THE COUNTER,ADOPTED,DEC.2019,FY2020
15,A1090539,CAT,DOMESTIC SH,K03,AVAILABLE,NaN,NaN,1,P0871433,20500,...,11:29:00,NaN,K19-491194,NaN,UNKNOWN,SCAN CHIP,OVER THE COUNTER,FOSTER,DEC.2019,FY2020
16,A1090998,CAT,DOMESTIC SH,CC 23,UNAVAILABLE,NaN,NaN,1,P0743076,5400,...,16:48:00,R19-561031,K19-490949,NaN,APP WNL,SCAN NO CHIP,OVER THE COUNTER,NaN,DEC.2019,FY2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31892,A1091015,WILDLIFE,SQUIRREL,LAB 01,IMPOUNDED,NaN,A19-205907,1,P9991770,7910,...,10:32:00,NaN,K19-490975,NaN,APP INJ,WILDLIFE - UNABEL TO SCAN,FIELD,NaN,DEC.2019,FY2020
31899,A1091037,CAT,DOMESTIC LH,RECEIVING,IMPOUNDED,NaN,A19-205973,1,P0911775,13621,...,13:01:00,NaN,K19-491011,NaN,FATAL,SCAN NO CHIP,FIELD,NaN,DEC.2019,FY2020
31901,A1091042,CAT,DOMESTIC SH,LFC 044,AVAILABLE,NaN,NaN,1,P0543224,20500,...,11:38:00,NaN,K19-491021,NaN,CRITICAL,SCAN NO CHIP,OVER THE COUNTER,NaN,DEC.2019,FY2020
31905,A1091059,CAT,DOMESTIC SH,RECEIVING,IMPOUNDED,NaN,A19-206054,1,P0911825,9105,...,17:43:00,NaN,K19-491050,NaN,FATAL,SCAN NO CHIP,FIELD,NaN,DEC.2019,FY2020
31906,A1091079,CAT,DOMESTIC MH,VT 07,IMPOUNDED,NaN,A19-206090,1,P9991210,16521,...,8:51:00,NaN,K19-491072,NaN,CRITICAL,UNABLE TO SCAN,FIELD,OP TOXIC/EM RESCUE,DEC.2019,FY2020

In [43]:
# Indexes of rows with 'Animal Type' other than 'DOG'

dallas_shelter_data[dallas_shelter_data['Animal Type']!='DOG'].index

Int64Index([    0,     2,     4,    15,    16,    21,    25,    31,    32,
               38,
            ...
            31883, 31886, 31887, 31888, 31891, 31892, 31899, 31901, 31905,
            31906],
           dtype='int64', length=9574)

In [44]:
# Drops rows with 'Animal Type' other than 'DOG'

dallas_shelter_data_dogs = dallas_shelter_data.drop(labels=dallas_shelter_data[dallas_shelter_data['Animal Type']!='DOG'].index)

In [45]:
# Checkt that df only contains dogs

dallas_shelter_data_dogs['Animal Type'].unique()

array(['DOG'], dtype=object)

# Check for same animal across intakes and outcomes Dfs based on ID & try to merge

## Austin intakes & outcomes

In [46]:
austin_outcomes_dogs.head(2)

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
1,A776359,Gizmo,07/18/2018 04:02:00 PM,Jul 2018,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
3,A720371,Moose,02/13/2016 05:59:00 PM,Feb 2016,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff

In [47]:
austin_intakes_dogs.head(2)

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,January 2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,July 2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver

In [48]:
# duplicate Animal IDs in austin intakes
# duplciates appear to be same animal that has gone through intake at the shelter multiple times

austin_intakes_dogs[austin_intakes_dogs['Animal ID'].duplicated(keep=False)==True].sort_values(by='Animal ID').head(10)

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
91423,A006100,Scamp,03/07/2014 02:26:00 PM,March 2014,8700 Research in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White
20233,A006100,Scamp,12/07/2017 02:07:00 PM,December 2017,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White
4344,A006100,Scamp,12/19/2014 10:21:00 AM,December 2014,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White
99487,A245945,Boomer,07/03/2014 05:55:00 PM,July 2014,Garden And Mildred in Austin (TX),Stray,Normal,Dog,Neutered Male,14 years,Labrador Retriever Mix,Tan
122656,A245945,Boomer,05/20/2015 10:34:00 PM,May 2015,7403 Blessing Ave in Austin (TX),Stray,Normal,Dog,Neutered Male,15 years,Labrador Retriever Mix,Tan
869,A287017,Stitch,08/16/2015 12:19:00 PM,August 2015,6620 Deatonhill Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,14 years,Chihuahua Shorthair Mix,Black/White
119396,A287017,Stitch,12/12/2014 07:04:00 AM,December 2014,Lazy Oaks /Westgate William Cannon in Austin (TX),Stray,Aged,Dog,Spayed Female,13 years,Chihuahua Shorthair Mix,Black/White
32534,A307010,Cooper,09/25/2016 12:51:00 PM,September 2016,Freidrich Lane And St Elmo Rd in Austin (TX),Stray,Normal,Dog,Neutered Male,13 years,Beagle Mix,Tricolor
36530,A307010,Cooper,06/01/2017 11:47:00 AM,June 2017,806 Castle Ridge in Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,14 years,Beagle Mix,Tricolor
57877,A322813,Tyson,03/05/2015 02:49:00 PM,March 2015,Austin (TX),Public Assist,Normal,Dog,Neutered Male,11 years,Rottweiler Mix,Black/Brown

In [49]:
# duplicate Animal IDs in austin outcomes
# duplciates appear to be same animal that has had recorded outcome at the shelter multiple times

austin_outcomes_dogs[austin_outcomes_dogs['Animal ID'].duplicated(keep=False)==True].sort_values(by='Animal ID').head(10)

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
101494,A006100,Scamp,12/07/2017 12:00:00 AM,Dec 2017,07/09/2007,Return to Owner,NaN,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White
56686,A006100,Scamp,12/20/2014 04:35:00 PM,Dec 2014,07/09/2007,Return to Owner,NaN,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White
115237,A006100,Scamp,03/08/2014 05:10:00 PM,Mar 2014,07/09/2007,Return to Owner,NaN,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White
90697,A245945,Boomer,07/04/2014 03:26:00 PM,Jul 2014,05/23/2000,Return to Owner,NaN,Dog,Neutered Male,14 years,Labrador Retriever Mix,Tan
69529,A245945,Boomer,05/25/2015 11:49:00 AM,May 2015,05/23/2000,Transfer,Partner,Dog,Neutered Male,15 years,Labrador Retriever Mix,Tan
71155,A287017,Stitch,08/16/2015 01:31:00 PM,Aug 2015,05/13/2001,Return to Owner,NaN,Dog,Spayed Female,14 years,Chihuahua Shorthair Mix,Black/White
24409,A287017,Stitch,12/12/2014 04:49:00 PM,Dec 2014,05/13/2001,Return to Owner,NaN,Dog,Spayed Female,13 years,Chihuahua Shorthair Mix,Black/White
94844,A307010,Cooper,06/05/2017 03:11:00 PM,Jun 2017,03/04/2003,Return to Owner,NaN,Dog,Neutered Male,14 years,Beagle Mix,Tricolor
38142,A307010,Cooper,09/28/2016 09:36:00 AM,Sep 2016,03/04/2003,Return to Owner,NaN,Dog,Neutered Male,13 years,Beagle Mix,Tricolor
53506,A322813,Tyson,12/24/2015 02:31:00 PM,Dec 2015,03/26/2003,Return to Owner,NaN,Dog,Neutered Male,12 years,Rottweiler Mix,Black/Brown

In [50]:
austin_intakes_dogs.shape

(76769, 12)

In [51]:
austin_outcomes_dogs.shape

(76727, 12)

In [52]:
# Rows of austin intakes and austin outcomes appear to largely line up, however dates for each animal are not necessarily listed in the same order and intakes has ~40 more rows

In [53]:
austin_outcomes_dogs.sort_values(by='Animal ID').head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
115237,A006100,Scamp,03/08/2014 05:10:00 PM,Mar 2014,07/09/2007,Return to Owner,NaN,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White
101494,A006100,Scamp,12/07/2017 12:00:00 AM,Dec 2017,07/09/2007,Return to Owner,NaN,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White
56686,A006100,Scamp,12/20/2014 04:35:00 PM,Dec 2014,07/09/2007,Return to Owner,NaN,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White
39142,A047759,Oreo,04/07/2014 03:12:00 PM,Apr 2014,04/02/2004,Transfer,Partner,Dog,Neutered Male,10 years,Dachshund,Tricolor
81491,A134067,Bandit,11/16/2013 11:54:00 AM,Nov 2013,10/16/1997,Return to Owner,NaN,Dog,Neutered Male,16 years,Shetland Sheepdog,Brown/White

In [78]:
austin_intakes_dogs.sort_values(by='Animal ID').head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
20233,A006100,Scamp,12/07/2017 02:07:00 PM,December 2017,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White
91423,A006100,Scamp,03/07/2014 02:26:00 PM,March 2014,8700 Research in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White
4344,A006100,Scamp,12/19/2014 10:21:00 AM,December 2014,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White
71055,A047759,Oreo,04/02/2014 03:55:00 PM,April 2014,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,10 years,Dachshund,Tricolor
96671,A134067,Bandit,11/16/2013 09:02:00 AM,November 2013,12034 Research Blvd in Austin (TX),Public Assist,Injured,Dog,Neutered Male,16 years,Shetland Sheepdog,Brown/White

In [53]:
# for all unique Animal IDs in austin outcomes, how many are unique to outcomes df (not also seen in intakes df) ?

outcomes_unique_ids = []
for id in list(austin_outcomes_dogs['Animal ID'].drop_duplicates(keep='first')):
    if not id in list(austin_intakes_dogs['Animal ID'].drop_duplicates(keep='first')):
        outcomes_unique_ids.append(id)

In [54]:
# 381 Animal IDs unique to outcomes df - over 76,000 present in both datasets

len(outcomes_unique_ids)

381

In [54]:
austin_intakes_dogs.columns

Index(['Animal ID', 'Name', 'DateTime', 'MonthYear', 'Found Location',
       'Intake Type', 'Intake Condition', 'Animal Type', 'Sex upon Intake',
       'Age upon Intake', 'Breed', 'Color'],
      dtype='object')

In [55]:
austin_outcomes_dogs.columns

Index(['Animal ID', 'Name', 'DateTime', 'MonthYear', 'Date of Birth',
       'Outcome Type', 'Outcome Subtype', 'Animal Type', 'Sex upon Outcome',
       'Age upon Outcome', 'Breed', 'Color'],
      dtype='object')

In [56]:
#List of all Animal IDs in austin outcomes and intakes (with duplicates - IDs in both lists not removed)

austin_in_out_ids = list(austin_outcomes_dogs['Animal ID'].drop_duplicates(keep='first')) + list(austin_intakes_dogs['Animal ID'].drop_duplicates(keep='first'))

In [57]:
# list of all Animal IDs in austin outcomes and intakes without duplicates

austin_in_out_ids_unique = []

for id in austin_in_out_ids:
    if not id in austin_in_out_ids_unique:
        austin_in_out_ids_unique.append(id)

In [58]:
austin_intakes_dogs['Animal ID'].value_counts().sort_values(ascending=False).head(20)

A721033    33
A718223    14
A718877    12
A706536    11
A761266     9
A737814     9
A717053     9
A700407     9
A716018     9
A616444     9
A705625     8
A670937     8
A738324     8
A733594     8
A759467     8
A693283     8
A670612     8
A694501     8
A738073     8
A737833     8
Name: Animal ID, dtype: int64

In [59]:
austin_intakes_dogs[['DateTime']].head()

                 DateTime
0  01/03/2019 04:19:00 PM
1  07/05/2015 12:59:00 PM
2  04/14/2016 06:43:00 PM
4  06/29/2014 10:38:00 AM
5  02/18/2017 12:46:00 PM

In [60]:
pd.to_datetime(austin_intakes_dogs['DateTime'])

0        2019-01-03 16:19:00
1        2015-07-05 12:59:00
2        2016-04-14 18:43:00
4        2014-06-29 10:38:00
5        2017-02-18 12:46:00
                 ...
136280   2022-02-09 15:01:00
136282   2022-02-09 15:04:00
136283   2022-02-09 15:00:00
136285   2022-02-09 15:18:00
136287   2022-01-21 17:45:00
Name: DateTime, Length: 76769, dtype: datetime64[ns]

In [61]:
austin_intakes_dogs['DateTime'] = pd.to_datetime(austin_intakes_dogs['DateTime'])

In [62]:
austin_intakes_dogs.sort_values(by='DateTime').head(15)

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
72982,A521520,Nina,2013-10-01 07:51:00,October 2013,Norht Ec in Austin (TX),Stray,Normal,Dog,Spayed Female,7 years,Border Terrier/Border Collie,White/Tan
117677,A664233,Stevie,2013-10-01 08:53:00,October 2013,7405 Springtime in Austin (TX),Stray,Injured,Dog,Intact Female,3 years,Pit Bull Mix,Blue/White
4788,A664234,NaN,2013-10-01 10:37:00,October 2013,5400 Jimmy Clay in Austin (TX),Stray,Injured,Dog,Intact Male,8 years,Border Collie Mix,Black/White
89334,A664257,Pippin,2013-10-01 11:01:00,October 2013,Burleson in Travis (TX),Stray,Normal,Dog,Intact Female,4 years,Podengo Pequeno Mix,Black
24042,A664266,NaN,2013-10-01 11:09:00,October 2013,Payton And 183 in Austin (TX),Stray,Normal,Dog,Intact Female,1 year,Chihuahua Shorthair Mix,Buff
23514,A648744,Claire,2013-10-01 11:15:00,October 2013,Fm 1626/Manchaca Rd in Travis (TX),Stray,Normal,Dog,Spayed Female,1 year,Anatol Shepherd Mix,White/Tricolor
4903,A664258,Sylvio,2013-10-01 11:15:00,October 2013,Fm 1626/Manchaca Rd in Travis (TX),Stray,Normal,Dog,Neutered Male,7 years,Weimaraner Mix,Silver
3477,A651630,Heather,2013-10-01 11:23:00,October 2013,Outside Jurisdiction,Owner Surrender,Injured,Dog,Spayed Female,6 years,Labrador Retriever/Chinese Sharpei,Tan
7896,A664259,*Petunia,2013-10-01 11:25:00,October 2013,5001 Creek Bend in Austin (TX),Stray,Normal,Dog,Intact Female,5 years,Pit Bull Mix,Black
119605,A664269,*Bismark,2013-10-01 11:28:00,October 2013,7500 S Ih 35 in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Great Pyrenees Mix,White
43133,A664267,*Asti,2013-10-01 11:59:00,October 2013,12501 Tech Ridge Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Pit Bull Mix,White/Black
46947,A664272,*Grace,2013-10-01 13:12:00,October 2013,12005 Garden Grove Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,1 year,Cairn Terrier Mix,Brown
4705,A664273,Buffy,2013-10-01 13:32:00,October 2013,Berkman Dr & Briarcliff Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,1 year,Dachshund/Chihuahua Shorthair,Brown
29751,A639030,Cate,2013-10-01 13:36:00,October 2013,46Th And Ave G in Austin (TX),Stray,Normal,Dog,Spayed Female,7 years,German Shepherd Mix,Tan
63441,A664253,Moose,2013-10-01 13:44:00,October 2013,Austin (TX),Public Assist,Normal,Dog,Neutered Male,2 years,Black/Tan Hound Mix,Black/Brown

In [63]:
austin_outcomes_dogs['DateTime'] = pd.to_datetime(austin_outcomes_dogs['DateTime'])

/var/folders/4l/vc1t1v4j7qd0h8x2x8dt42rw0000gn/T/ipykernel_5084/677630372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  austin_outcomes_dogs['DateTime'] = pd.to_datetime(austin_outcomes_dogs['DateTime'])

### Create list of dictionaries with data for each animal including ID, name, breed, color, date of birth, intake(s) information, & outcome(s) information

#### Test for one Animal ID

In [65]:
test_austin_animals = []

In [66]:
id = 'A006100'

In [67]:
###create animal dictionary###
test_id_dict = {}

In [68]:
###fill in basics of animal dictionary###

In [69]:
# find intake rows containing animal
if id in list(austin_intakes_dogs['Animal ID'].drop_duplicates(keep='first')):
    test_id_intakes_row = austin_intakes_dogs[austin_intakes_dogs['Animal ID']==id]

test_id_intakes_row

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
4344,A006100,Scamp,2014-12-19 10:21:00,December 2014,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White
20233,A006100,Scamp,2017-12-07 14:07:00,December 2017,Colony Creek And Hunters Trace in Austin (TX),Stray,Normal,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White
91423,A006100,Scamp,2014-03-07 14:26:00,March 2014,8700 Research in Austin (TX),Public Assist,Normal,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White

In [70]:
#find outcome rows containing animal
if id in list(austin_outcomes_dogs['Animal ID'].drop_duplicates(keep='first')):
    test_id_outcomes_row = austin_outcomes_dogs[austin_outcomes_dogs['Animal ID']==id]

test_id_outcomes_row

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
56686,A006100,Scamp,2014-12-20 16:35:00,Dec 2014,07/09/2007,Return to Owner,NaN,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White
101494,A006100,Scamp,2017-12-07 00:00:00,Dec 2017,07/09/2007,Return to Owner,NaN,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White
115237,A006100,Scamp,2014-03-08 17:10:00,Mar 2014,07/09/2007,Return to Owner,NaN,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White

In [71]:
# isolate one intake row to get basic info from
if len(test_id_intakes_row) > 1:
    test_id_intakes_row = test_id_intakes_row.iloc[[0]]

test_id_intakes_row

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
4344,A006100,Scamp,2014-12-19 10:21:00,December 2014,8700 Research Blvd in Austin (TX),Public Assist,Normal,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White

In [72]:
# isolate one outcome row to get basic info from
if len(test_id_outcomes_row) > 1:
    test_id_outcomes_row = test_id_outcomes_row.iloc[[0]]

test_id_outcomes_row

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
56686,A006100,Scamp,2014-12-20 16:35:00,Dec 2014,07/09/2007,Return to Owner,NaN,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White

In [73]:
# Add ID, name, breed, color, & DOB to animal dictionary using intake row
test_id_dict['id'] = id
if id in list(austin_intakes_dogs['Animal ID'].drop_duplicates(keep='first')):
    test_id_dict['name'] = test_id_intakes_row['Name']
    test_id_dict['breed'] = test_id_intakes_row['Breed']
    test_id_dict['color'] = test_id_intakes_row['Color']
    test_id_dict['dob'] = 'unknown'

test_id_dict

{'id': 'A006100',
 'name': 4344    Scamp
 Name: Name, dtype: object,
 'breed': 4344    Spinone Italiano Mix
 Name: Breed, dtype: object,
 'color': 4344    Yellow/White
 Name: Color, dtype: object,
 'dob': 'unknown'}

In [74]:
# Update ID, name, breed, color, & DOB in animal dictionary using outcome row
if id in list(austin_outcomes_dogs['Animal ID'].drop_duplicates(keep='first')):
    test_id_dict['name'] = test_id_outcomes_row['Name']
    test_id_dict['breed'] = test_id_outcomes_row['Breed']
    test_id_dict['color'] = test_id_outcomes_row['Color']
    test_id_dict['dob'] = test_id_outcomes_row['Date of Birth']

test_id_dict

{'id': 'A006100',
 'name': 56686    Scamp
 Name: Name, dtype: object,
 'breed': 56686    Spinone Italiano Mix
 Name: Breed, dtype: object,
 'color': 56686    Yellow/White
 Name: Color, dtype: object,
 'dob': 56686    07/09/2007
 Name: Date of Birth, dtype: object}

In [86]:

# if id in list(austin_outcomes_dogs['Animal ID'].drop_duplicates(keep='first')):
#     id_dict['name'] = id_outcomes_row['Name']
#     id_dict['breed'] = id_outcomes_row['Breed']
#     id_dict['color'] = id_outcomes_row['Color']
#     id_dict['dob'] = id_outcomes_row['Date of Birth']
# print('basic info added')

# # Add intake(s) to animal dictionary
# if id in list(austin_intakes_dogs['Animal ID'].drop_duplicates(keep='first')):
#     id_intakes = austin_intakes_dogs[austin_intakes_dogs['Animal ID']==id].sort_values(by='DateTime')
#     number_of_intakes = len(id_intakes)
#     if number_of_intakes==1:
#         id_dict['intake'] = [
#             id_intakes['DateTime'], 
#             id_intakes['Found Location'], 
#             f'{id_intakes["Intake Type"]} - {id_intakes["Intake Condition"]}',
#             id_intakes['Sex upon Intake'],
#             id_intakes['Age upon Intake']
#         ]
#         print('one intake added')
#     else:
#         for i in range(number_of_intakes):
#             id_dict['intakes'][i] = [
#             id_intakes['DateTime'], 
#             id_intakes['Found Location'], 
#             f'{id_intakes["Intake Type"]} - {id_intakes["Intake Condition"]}',
#             id_intakes['Sex upon Intake'],
#             id_intakes['Age upon Intake']
#             ]
#         print('multiple intakes added')

intake rows found
outcome rows found
intake row found
outcome row found
basic info started
{'id': 'A006100', 'name': 'Scamp', 'breed': 'Spinone Italiano Mix', 'color': 'Yellow/White', 'dob': 'unknown'}
basic info added
intakes dict added
multiple intakes added

In [88]:
a = 1

In [ ]:
f'apple_{a}'

## Dallas data

In [56]:
dallas_shelter_data_dogs.head(2)

,Animal Id,Animal Type,Animal Breed,Kennel Number,Kennel Status,Tag Type,Activity Number,Activity Sequence,Source Id,Census Tract,...,Outcome Time,Receipt Number,Impound Number,Service Request Number,Outcome Condition,Chip Status,Animal Origin,Additional Information,Month,Year
1,A1046046,DOG,PIT BULL,AD 085,UNAVAILABLE,NaN,A19-203263,1,P0740141,12900,...,14:56:00,R19-561166,K19-489088,NaN,APP WNL,SCAN CHIP,FIELD,ADOPTION,NOV.2019,FY2020
3,A1061310,DOG,LABRADOR RETR,LFD 163,UNAVAILABLE,NaN,A19-206245,1,P9991730,4800,...,13:33:00,R19-561090,K19-491175,NaN,APP WNL,SCAN CHIP,FIELD,NaN,DEC.2019,FY2020

# Clean & merge all dataframes